.styled-text-area .java.java_default {
	-styled-text-color: gray;
}

.styled-text-area .java.java_operator {
	-styled-text-color: gray;
}

.styled-text-area .java.java_bracket {
	-styled-text-color: green;
}

.styled-text-area .java.java_keyword {
	-styled-text-color: lightblue;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_doc_default {
	-styled-text-color: lightgreen;
}

.styled-text-area .java.java_string {
	-styled-text-color: blue;
}

.styled-text-area .java.java_buitin_type {
	-styled-text-color: lightblue;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_constant {
	-styled-text-color: black;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_annotation {
	-styled-text-color: gray;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_apidoc {
	-styled-text-color: lightgreen;
}

.styled-text-area .java.java_number {
	-styled-text-color: brown;
}